<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QCCPreferencesShowLineNumber</key>
	<true/>
	<key>QCCPreferencesWrapColumn</key>
	<data>AgAAAAAAAABuAAAA/38AAA==</data>
	<key>QCCPreferencesTheme</key>
	<string>Sunset</string>
</dict>
</plist>
